{% extends "base.html" %}

{% block title %}
How To
{% endblock %}


{% block content %}

<style>
    p.solid {border-style: none;padding: 20px; background-color: #E0E0E0; font-family: Avenir;}
    
</style>

<h1 style="text-align:center">Do you want to know how to do something? </h1>

<div class="row">
    <div class="column">
      <h2>How To Cook Caldereta</h2>
      <p class="solid">1. In a wide pan over medium heat, heat oil. Add potatoes and carrots and cook until lightly browned. <br> <br>
        2. Remove from pot and drain on paper towels. <br> <br>
        3. Remove oil from the pan except for about 2 tablespoons. Add onions and garlic and cook until softened. <br> <br>
        4. Add beef and cook, stirring occasionally, until lightly browned. <br> <br>
        4. Add tomato sauce, tomato paste, water, and chili peppers. Bring to a boil, skimming scum that may float on top. <br><br>
        5. Season with salt and pepper to taste. <br> <br>
        6. Lower heat, cover, and cook for about 1 to 1 ½ hours or until beef is tender. <br> <br>
        7. Add potatoes, carrots, and continue to cook until tender. <br> <br>
        8. Add liver spread and cheese, stirring to combine until well-distributed. Continue to cook until cheese is melted and sauce is thickened. <br> <br>
        9. Add bell peppers and olives cook for another 1 to 2 minutes until tender yet crisp. Serve hot. </p>
    </div>
    
    <div class="column">
      <h2>How To Change WiFi Password</h2>
      <p class="solid">1. Open your browser to the configuration page of your router <br> <br>
        2. Enter your router's username and password details <br> <br>
        3. Open the Wireless section <br> <br>
        4. Change the password<br> <br>
        5. Set your security type<br> <br>
        6. Save your settings:</p>
    </div>
    
    <div class="column">
      <h2>How To Plant Tomatoes</h2>
      <p class="solid">1. Time Your Tomato Planting <br> <br>
        2. Choose a Tomato Growing Area <br> <br>
        3. Prepare Your Tomato Planting Site <br> <br>
        4. Plant and Support Your Tomatoes <br> <br>
        5. Water and Weed Tomatoes Regularly <br> <br>
        6. Watch for Tomato Pests and Diseases <br> <br>
        7. Harvest Your Tomatoes Often</p>
    </div>
  </div>


{% endblock %}